{% extends "layout.html" %}

{% block body %}
  <div style="width:100%; display: flex; justify-content: center;" >
    <div>
      <h1>Confirm Delivery?</h1>
      <p>
        {% autoescape false %}
        {{order[0][1]}}
        {% endautoescape %}</p>
      <form class="form-inline" action="/processdelivery/{{order[0][0]}}" method="post">
      <button class="btn btn-success" type="submit" name="orderID" value="{{order[0][0]}}" style="width: 100%;">Confirm Delivery </button>
      </form>
      <br>
      <a class="btn btn-danger" href="/" role="button" style="width: 100%;">Cancel</a>
    </div>
  </div>

{% endblock %}